{
    "log_level": "info",
    "check_interval_sec": 60,
    "timeouts": {
        "request_sec": 3,
        "connect_msec": 1000
    },
    "delegate": {
        "address": "delegate_address",
        "publicKey": "delegate_publicKey",
        "password": "delegate_password"
    },
    "servers": [
        {
            "name": "node1",
            "scheme": "http",
            "ip": "127.0.0.1",
            "port": 5000
        },
        {
            "name": "node2",
            "scheme": "http",
            "ip": "a.b.c.d",
            "port": 5000
        }
    ]
}
